.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    height: 50px;
    // width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__logo {
      height: auto;
      width: 200px;

    }
  
    &__menu-toggle {
      height: 30px;
      width: 30px;
      border: none;
      // border-top: #fff 2px solid;
      // border-bottom: #444 2px solid;
      cursor: pointer;
      margin-left: auto;
      padding: 0;
      display: flex;
      align-items: center;
      background: none;
    }
  
    &__menu-icon {
      width: 30px;
      height: 2px;
      background-color: rgb(181, 181, 181);
      transition: all 0.3s;
      position: relative;
      
      &:before,
      &:after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: rgb(181, 181, 181);
        position: absolute;
        transition: all 0.3s;
      }
      
      &:before {
        left: 0;
        transform: translateY(-7px);
        // transform: translateZ(-10px);
      }
      
      &:after {
        left: 0;
        transform: translateY(7px);
      }
    }
  
    &__menu-toggle--open {
      &__menu-icon {
        transform: rotate(45deg);
        
        &:before {
          transform: translateY(0) rotate(-45deg);
        }
        
        &:after {
          transform: translateY(0) rotate(45deg);
        }
      }
    }
  
    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: rgb(162, 163, 164);
      display: none;
      flex-direction: column;
      transition: all 0.3s;
      
      &--open {
        display: flex;
      }
  
      &-item {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        
        &:hover {
          background-color: #444;
        }
      }
    }
  }
  




@media (min-width: 640px) and (max-width: 899px) {

}


@media (min-width: 840px)  {
  .header {
    justify-content: start;
    &__menu-toggle {
      display: none;
    }
  }
  
}


@media (min-width: 1250px)  {
  .header {
    justify-content: start;
    width: 1200px;
    margin: 0 auto;
  }
}
